*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.bg-nya-empty:where(:not(.nya-display)) {
  background-color: var(--nya-empty);
}

.nya-selected {
  background-color: var(--nya-selection);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.-inset-y-px {
  top: -1px;
  bottom: -1px;
}

.inset-x-0 {
  left: 0px;
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-2 {
  bottom: 0.5rem;
}

.bottom-\[\.15em\] {
  bottom: .15em;
}

.bottom-\[\.5px\] {
  bottom: .5px;
}

.bottom-\[2px\] {
  bottom: 2px;
}

.left-0 {
  left: 0px;
}

.left-0\.5 {
  left: 0.125rem;
}

.left-1\/2 {
  left: 50%;
}

.left-\[\.15em\] {
  left: .15em;
}

.left-\[00\.00\%\] {
  left: 00.00%;
}

.left-\[36\.36\%\] {
  left: 36.36%;
}

.left-\[72\.72\%\] {
  left: 72.72%;
}

.right-0 {
  right: 0px;
}

.right-1 {
  right: 0.25rem;
}

.right-2 {
  right: 0.5rem;
}

.right-6 {
  right: 1.5rem;
}

.right-\[\.15em\] {
  right: .15em;
}

.right-\[1px\] {
  right: 1px;
}

.top-0 {
  top: 0px;
}

.top-0\.5 {
  top: 0.125rem;
}

.top-1\/2 {
  top: 50%;
}

.top-2 {
  top: 0.5rem;
}

.top-\[-\.05em\] {
  top: -.05em;
}

.top-\[00\.00\%\] {
  top: 00.00%;
}

.top-\[36\.36\%\] {
  top: 36.36%;
}

.top-\[72\.72\%\] {
  top: 72.72%;
}

.top-px {
  top: 1px;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-\[1\] {
  z-index: 1;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.m-auto {
  margin: auto;
}

.-mx-2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.mx-0\.5 {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-\[\.1em\] {
  margin-left: .1em;
  margin-right: .1em;
}

.mx-\[\.4em\] {
  margin-left: .4em;
  margin-right: .4em;
}

.mx-\[\.55em\] {
  margin-left: .55em;
  margin-right: .55em;
}

.mx-\[\.7em\] {
  margin-left: .7em;
  margin-right: .7em;
}

.mx-\[2\.5px\] {
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-\[\.1em\] {
  margin-top: .1em;
  margin-bottom: .1em;
}

.-mb-px {
  margin-bottom: -1px;
}

.-ml-px {
  margin-left: -1px;
}

.-mr-1\.5 {
  margin-right: -0.375rem;
}

.-mt-0\.5 {
  margin-top: -0.125rem;
}

.-mt-2 {
  margin-top: -0.5rem;
}

.mb-0\.5 {
  margin-bottom: 0.125rem;
}

.mb-24 {
  margin-bottom: 6rem;
}

.mb-\[-\.2em\] {
  margin-bottom: -.2em;
}

.mb-\[2px\] {
  margin-bottom: 2px;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-\[-\.35em\] {
  margin-left: -.35em;
}

.ml-\[\.2em\] {
  margin-left: .2em;
}

.ml-\[\.9em\] {
  margin-left: .9em;
}

.ml-auto {
  margin-left: auto;
}

.mr-\[-\.6em\] {
  margin-right: -.6em;
}

.mr-\[\.1em\] {
  margin-right: .1em;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-1\.5 {
  margin-top: 0.375rem;
}

.mt-px {
  margin-top: 1px;
}

.\!block {
  display: block !important;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.size-0\.5 {
  width: 0.125rem;
  height: 0.125rem;
}

.size-1\.5 {
  width: 0.375rem;
  height: 0.375rem;
}

.size-4 {
  width: 1rem;
  height: 1rem;
}

.size-5 {
  width: 1.25rem;
  height: 1.25rem;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.size-8 {
  width: 2rem;
  height: 2rem;
}

.size-\[16px\] {
  width: 16px;
  height: 16px;
}

.size-\[18px\] {
  width: 18px;
  height: 18px;
}

.size-\[26px\] {
  width: 26px;
  height: 26px;
}

.size-\[27\.27\%\] {
  width: 27.27%;
  height: 27.27%;
}

.size-\[7px\] {
  width: 7px;
  height: 7px;
}

.size-full {
  width: 100%;
  height: 100%;
}

.h-0 {
  height: 0px;
}

.h-0\.5 {
  height: 0.125rem;
}

.h-1 {
  height: 0.25rem;
}

.h-1\.5 {
  height: 0.375rem;
}

.h-12 {
  height: 3rem;
}

.h-3\.5 {
  height: 0.875rem;
}

.h-6 {
  height: 1.5rem;
}

.h-\[1\.5em\] {
  height: 1.5em;
}

.h-\[1em\] {
  height: 1em;
}

.h-full {
  height: 100%;
}

.h-max {
  height: -moz-max-content;
  height: max-content;
}

.max-h-12 {
  max-height: 3rem;
}

.min-h-12 {
  min-height: 3rem;
}

.min-h-\[3\.265rem\] {
  min-height: 3.265rem;
}

.min-h-\[3\.625rem\] {
  min-height: 3.625rem;
}

.min-h-24 {
  min-height: 6rem;
}

.w-0 {
  width: 0px;
}

.w-1 {
  width: 0.25rem;
}

.w-48 {
  width: 12rem;
}

.w-\[\.25em\] {
  width: .25em;
}

.w-\[\.4em\] {
  width: .4em;
}

.w-\[\.55em\] {
  width: .55em;
}

.w-\[\.7em\] {
  width: .7em;
}

.w-\[\.95em\] {
  width: .95em;
}

.w-\[16px\] {
  width: 16px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[calc\(var\(--nya-sidebar\)_-_2\.5rem_-_1px\)\] {
  width: calc(var(--nya-sidebar) - 2.5rem - 1px);
}

.w-full {
  width: 100%;
}

.w-px {
  width: 1px;
}

.min-w-\[\.5em\] {
  min-width: .5em;
}

.min-w-\[3ch\] {
  min-width: 3ch;
}

.max-w-\[calc\(var\(--nya-sidebar\)_-_2\.5rem_-_1px\)\] {
  max-width: calc(var(--nya-sidebar) - 2.5rem - 1px);
}

.flex-1 {
  flex: 1 1 0%;
}

.grow {
  flex-grow: 1;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[-10px\] {
  --tw-translate-x: -10px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-3\.5px\] {
  --tw-translate-y: -3.5px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-90 {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-\[30deg\] {
  --tw-rotate: -30deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-x-\[70\%\] {
  --tw-scale-x: 70%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

.touch-none {
  touch-action: none;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.resize {
  resize: both;
}

.grid-cols-\[2\.5rem_auto\] {
  grid-template-columns: 2.5rem auto;
}

.grid-cols-\[400px_1fr\] {
  grid-template-columns: 400px 1fr;
}

.grid-cols-\[auto\2c auto\] {
  grid-template-columns: auto auto;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-\[3rem_1fr\] {
  grid-template-rows: 3rem 1fr;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-x-\[\.4em\] {
  -moz-column-gap: .4em;
       column-gap: .4em;
}

.gap-y-\[\.1em\] {
  row-gap: .1em;
}

.gap-y-\[0\.2em\] {
  row-gap: 0.2em;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-clip {
  overflow: clip;
}

.overflow-visible {
  overflow: visible;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[\.1875em\] {
  border-radius: .1875em;
}

.rounded-\[25\%\] {
  border-radius: 25%;
}

.rounded-\[2px\] {
  border-radius: 2px;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-b-\[25\%\] {
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
}

.rounded-l-\[25\%\] {
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
}

.rounded-r-\[25\%\] {
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.rounded-t-\[25\%\] {
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}

.rounded-bl-\[25\%\] {
  border-bottom-left-radius: 25%;
}

.rounded-br-\[25\%\] {
  border-bottom-right-radius: 25%;
}

.rounded-tl-\[25\%\] {
  border-top-left-radius: 25%;
}

.rounded-tr-\[25\%\] {
  border-top-right-radius: 25%;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-4 {
  border-width: 4px;
}

.border-\[3px\] {
  border-width: 3px;
}

.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-l {
  border-left-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

.border-\[\#388c46\] {
  --tw-border-opacity: 1;
  border-color: rgb(56 140 70 / var(--tw-border-opacity, 1));
}

.border-\[--nya-border\] {
  border-color: var(--nya-border);
}

.border-\[--nya-expr-focus\] {
  border-color: var(--nya-expr-focus);
}

.border-current {
  border-color: currentColor;
}

.border-slate-300 {
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
}

.\!border-b-\[--nya-range-error\] {
  border-bottom-color: var(--nya-range-error) !important;
}

.border-t-current {
  border-top-color: currentColor;
}

.\!bg-transparent {
  background-color: transparent !important;
}

.bg-\[\#c74440\] {
  --tw-bg-opacity: 1;
  background-color: rgb(199 68 64 / var(--tw-bg-opacity, 1));
}

.bg-\[--nya-bg-sidebar\] {
  background-color: var(--nya-bg-sidebar);
}

.bg-\[--nya-bg\] {
  background-color: var(--nya-bg);
}

.bg-\[--nya-border\] {
  background-color: var(--nya-border);
}

.bg-\[--nya-slider-zero\] {
  background-color: var(--nya-slider-zero);
}

.bg-blue-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(147 197 253 / var(--tw-bg-opacity, 1));
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
}

.bg-blue-500\/40 {
  background-color: rgb(59 130 246 / 0.4);
}

.bg-current {
  background-color: currentColor;
}

.bg-fuchsia-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(240 171 252 / var(--tw-bg-opacity, 1));
}

.bg-green-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(134 239 172 / var(--tw-bg-opacity, 1));
}

.bg-orange-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(253 186 116 / var(--tw-bg-opacity, 1));
}

.bg-purple-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(216 180 254 / var(--tw-bg-opacity, 1));
}

.bg-red-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity, 1));
}

.bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity, 1));
}

.bg-slate-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-yellow-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(253 224 71 / var(--tw-bg-opacity, 1));
}

.bg-\[conic-gradient\(hsl\(360_100\%_50\%\)\2c hsl\(315_100\%_50\%\)\2c hsl\(270_100\%_50\%\)\2c hsl\(225_100\%_50\%\)\2c hsl\(180_100\%_50\%\)\2c hsl\(135_100\%_50\%\)\2c hsl\(90_100\%_50\%\)\2c hsl\(45_100\%_50\%\)\2c hsl\(0_100\%_50\%\)\)\] {
  background-image: conic-gradient(hsl(360 100% 50%),hsl(315 100% 50%),hsl(270 100% 50%),hsl(225 100% 50%),hsl(180 100% 50%),hsl(135 100% 50%),hsl(90 100% 50%),hsl(45 100% 50%),hsl(0 100% 50%));
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-\[--nya-sidebar-shadow\] {
  --tw-gradient-from: var(--nya-sidebar-shadow) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-transparent {
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[--nya-bg\] {
  --tw-gradient-to: var(--nya-bg) var(--tw-gradient-to-position);
}

.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}

.fill-\[--nya-icon-error\] {
  fill: var(--nya-icon-error);
}

.fill-\[--nya-title\] {
  fill: var(--nya-title);
}

.fill-current {
  fill: currentColor;
}

.fill-none {
  fill: none;
}

.stroke-current {
  stroke: currentColor;
}

.stroke-2 {
  stroke-width: 2;
}

.p-0\.5 {
  padding: 0.125rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-4 {
  padding: 1rem;
}

.p-\[\.1em\] {
  padding: .1em;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-\[\.1em\] {
  padding-left: .1em;
  padding-right: .1em;
}

.px-\[\.2em\] {
  padding-left: .2em;
  padding-right: .2em;
}

.px-\[\.4em\] {
  padding-left: .4em;
  padding-right: .4em;
}

.px-\[0\.5625rem\] {
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-\[\.1em\] {
  padding-top: .1em;
  padding-bottom: .1em;
}

.py-\[0\.5625rem\] {
  padding-top: 0.5625rem;
  padding-bottom: 0.5625rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-\[\.2em\] {
  padding-bottom: .2em;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-\[\.15em\] {
  padding-left: .15em;
}

.pr-\[\.2em\] {
  padding-right: .2em;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-\[\.1em\] {
  padding-top: .1em;
}

.pt-px {
  padding-top: 1px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-baseline {
  vertical-align: baseline;
}

.align-middle {
  vertical-align: middle;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.align-\[-\.12em\] {
  vertical-align: -.12em;
}

.align-\[-\.15em\] {
  vertical-align: -.15em;
}

.align-\[-\.2em\] {
  vertical-align: -.2em;
}

.align-\[-\.46em\] {
  vertical-align: -.46em;
}

.align-\[-\.5em\] {
  vertical-align: -.5em;
}

.align-\[-1\.1em\] {
  vertical-align: -1.1em;
}

.align-\[\.15em\] {
  vertical-align: .15em;
}

.align-\[\.5em\] {
  vertical-align: .5em;
}

.align-\[\.8em\] {
  vertical-align: .8em;
}

.align-\[1\.3em\] {
  vertical-align: 1.3em;
}

.font-\[\'Symbola\'\2c \'Times_New_Roman\'\2c sans-serif\] {
  font-family: 'Symbola','Times New Roman',sans-serif;
}

.font-\[\'Symbola\'\2c \'Times_New_Roman\'\2c serif\] {
  font-family: 'Symbola','Times New Roman',serif;
}

.font-\[\'Symbola\'\] {
  font-family: 'Symbola';
}

.font-\[\'Times_New_Roman\'\] {
  font-family: 'Times New Roman';
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl\/\[1\] {
  font-size: 1.875rem;
  line-height: 1;
}

.text-\[1\.265em\] {
  font-size: 1.265em;
}

.text-\[1\.265rem\] {
  font-size: 1.265rem;
}

.text-\[1\.265rem\]\/\[1\.15\] {
  font-size: 1.265rem;
  line-height: 1.15;
}

.text-\[100\%\] {
  font-size: 100%;
}

.text-\[120\%\] {
  font-size: 120%;
}

.text-\[120\%\]\/\[1\] {
  font-size: 120%;
  line-height: 1;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[1em\] {
  font-size: 1em;
}

.text-\[200\%\] {
  font-size: 200%;
}

.text-\[25\%\] {
  font-size: 25%;
}

.text-\[50\%\]\/\[1\] {
  font-size: 50%;
  line-height: 1;
}

.text-\[60\%\] {
  font-size: 60%;
}

.text-\[65\%\] {
  font-size: 65%;
}

.text-\[80\%\] {
  font-size: 80%;
}

.text-\[80\%\]\/\[\.5\] {
  font-size: 80%;
  line-height: .5;
}

.text-\[90\%\] {
  font-size: 90%;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-normal {
  font-weight: 400;
}

.lowercase {
  text-transform: lowercase;
}

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.text-\[\#000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-\[\#2d70b3\] {
  --tw-text-opacity: 1;
  color: rgb(45 112 179 / var(--tw-text-opacity, 1));
}

.text-\[\#388c46\] {
  --tw-text-opacity: 1;
  color: rgb(56 140 70 / var(--tw-text-opacity, 1));
}

.text-\[\#6042a6\] {
  --tw-text-opacity: 1;
  color: rgb(96 66 166 / var(--tw-text-opacity, 1));
}

.text-\[\#c74440\] {
  --tw-text-opacity: 1;
  color: rgb(199 68 64 / var(--tw-text-opacity, 1));
}

.text-\[\#fa7e19\] {
  --tw-text-opacity: 1;
  color: rgb(250 126 25 / var(--tw-text-opacity, 1));
}

.text-\[--nya-expr-error\] {
  color: var(--nya-expr-error);
}

.text-\[--nya-expr-index\] {
  color: var(--nya-expr-index);
}

.text-\[--nya-latex-error\] {
  color: var(--nya-latex-error);
}

.text-\[--nya-range-step\] {
  color: var(--nya-range-step);
}

.text-\[--nya-title\] {
  color: var(--nya-title);
}

.text-\[oklch\(0\.518_0\.253_323\.949\)\] {
  color: oklch(0.518 0.253 323.949);
}

.text-slate-500 {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity, 1));
}

.text-transparent {
  color: transparent;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-30 {
  opacity: 0.3;
}

.outline {
  outline-style: solid;
}

.outline-2 {
  outline-width: 2px;
}

.outline-\[--nya-pixel-ratio\] {
  outline-color: var(--nya-pixel-ratio);
}

.outline-blue-500 {
  outline-color: #3b82f6;
}

.ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-blue-500\/40 {
  --tw-ring-color: rgb(59 130 246 / 0.4);
}

.ring-offset-2 {
  --tw-ring-offset-width: 2px;
}

.ring-offset-\[--nya-bg\] {
  --tw-ring-offset-color: var(--nya-bg);
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-\[width\2c height\] {
  transition-property: width,height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-\[width\] {
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.\[-webkit-text-stroke\:2px_var\(--nya-bg\)\] {
  -webkit-text-stroke: 2px var(--nya-bg);
}

.\[clip-path\:polygon\(100\%_100\%\2c 100\%_0\%\2c 0\%_100\%\)\] {
  clip-path: polygon(100% 100%,100% 0%,0% 100%);
}

.\[image-rendering\:pixelated\] {
  image-rendering: pixelated;
}

.\[line-height\:\.9\] {
  line-height: .9;
}

.\[line-height\:1\] {
  line-height: 1;
}

.\[mask-image\:linear-gradient\(\#000\2c transparent\)\] {
  -webkit-mask-image: linear-gradient(#000,transparent);
          mask-image: linear-gradient(#000,transparent);
}

.\[mask-image\:linear-gradient\(45deg\2c \#000\2c transparent\2c transparent\)\] {
  -webkit-mask-image: linear-gradient(45deg,#000,transparent,transparent);
          mask-image: linear-gradient(45deg,#000,transparent,transparent);
}

.\[mask-image\:linear-gradient\(to_right\2c \#000\2c transparent\)\] {
  -webkit-mask-image: linear-gradient(to right,#000,transparent);
          mask-image: linear-gradient(to right,#000,transparent);
}

.\[paint-order\:stroke\] {
  paint-order: stroke;
}

.\[scroll-margin\:1rem\] {
  scroll-margin: 1rem;
}

.\[stroke-linejoin\:round\] {
  stroke-linejoin: round;
}

@font-face {
  font-family: Symbola;

  src: url("./fonts/Symbola.woff") format("woff");
}

:root,
body {
  --nya-bg: white;
  --nya-text: black;
  --nya-selection: #bfdbfe;
  --nya-empty: #0003;
  --nya-bg-sidebar: #f1f5f9;
  --nya-sidebar-hover: #cbd5e1;
  --nya-border: #e2e8f0;
  --nya-slider-zero: #94a3b8;
  --nya-expr-index: #64748b;
  --nya-expr-focus: #60a5fa;
  --nya-icon-error: #ef4444;
  .nya-expr:focus-within {
    --nya-icon-error: #fff;
  }
  --nya-expr-focus-index: #fff;
  --nya-pixel-ratio: #0003;
  --nya-latex-error: #ef4444;
  --nya-range-step: #1e293b;
  --nya-range-bounds: #64748b;
  --nya-range-error: #f87171;
  --nya-expr-error: #991b1b;
  --nya-title: #64748b;
  --nya-title-dark: #475569;
  --nya-sidebar-shadow: #0206170a;
  --nya-paper-axis-number-stroke: white;
  --nya-paper-axis-number-onscreen: black;
  --nya-paper-axis-number-offscreen: #8e8e8e;
  --nya-paper-screen-line: black;
  color-scheme: light;
  background-color: var(--nya-bg);
  color: var(--nya-text);
}

@media (prefers-color-scheme: dark) {
  :root,
  body {
    --nya-bg: #020617;
    --nya-text: #cbd5e1;
    --nya-selection: #1e3a8a;
    --nya-empty: #1e293b;
    --nya-bg-sidebar: #0f172a;
    --nya-sidebar-hover: #1e293b;
    --nya-border: #1e293b;
    --nya-slider-zero: #94a3b8;
    --nya-expr-index: #64748b;
    --nya-expr-focus: #1e40af;
    --nya-icon-error: #ef4444;
    .nya-expr:focus-within {
      --nya-icon-error: #dbeafe;
    }
    --nya-expr-focus-index: #fff;
    --nya-pixel-ratio: #64748b80;
    --nya-latex-error: #ef4444;
    --nya-range-step: #cbd5e1;
    --nya-range-bounds: #64748b;
    --nya-range-error: #f87171;
    --nya-expr-error: #f87171d0;
    --nya-title: #94a3b8;
    --nya-title-dark: #cbd5e1;
    --nya-sidebar-shadow: #e2e8f00a;
    --nya-paper-axis-number-stroke: black;
    --nya-paper-axis-number-onscreen: white;
    --nya-paper-axis-number-offscreen: #8e8e8e;
    --nya-paper-screen-line: #475569;
    color-scheme: dark;
  }
}

.nya-cmd-word-r {
  padding-right: .2em;
  &:last-child,
  &:has(+ :where(.nya-cursor):last-child) {
    padding-right: 0px;
  }
}

.nya-cmd-word-l {
  padding-left: .2em;
  &:first-child,
  :where(.nya-cursor):first-child + & {
    padding-left: 0px;
  }
}

:is(.nya-cmd-op, .nya-cmd-word-r:not(.nya-cmd-word-var)) {
  & + .nya-cmd-pm > *,
  & + :where(.nya-cursor) + .nya-cmd-pm > * {
    padding-right: 0px;
  }
}

:is(.nya-cmd-op, .nya-cmd-word-r) + .nya-cmd-pm > *,
:is(.nya-cmd-op, .nya-cmd-word-r) + :where(.nya-cursor) + .nya-cmd-pm > *,
.nya-cmd-op:first-child > *,
:where(.nya-cursor):first-child + .nya-cmd-op > * {
  padding-left: 0px;
}

.nya-cmd-op + .nya-cmd-word-l,
.nya-cmd-op + :where(.nya-cursor) + .nya-cmd-word-l {
  padding-left: 0px;
}

.nya-cmd-word-r:not(.nya-cmd-word-infix):has(
    + .nya-cmd-brack,
    + :where(.nya-cursor) + .nya-cmd-brack
  ) {
  padding-right: 0px;
}

.nya-cmd-brack + .nya-cmd-word-l.nya-cmd-word-var,
.nya-cmd-brack + :where(.nya-cursor) + .nya-cmd-word-l.nya-cmd-word-var {
  padding-left: 0px;
}

.nya-cmd-word-r:has(
    + :where(.nya-cursor) + .nya-cmd-word-l,
    + .nya-cmd-word-l
  ) {
  padding-right: .1em;
}

.nya-cmd-word-r + .nya-cmd-word-l,
.nya-cmd-word-r + :where(.nya-cursor) + .nya-cmd-word-l {
  padding-left: .1em;
}

.nya-cmd-word-r:not(.nya-cmd-word-infix):has(
    + .nya-cmd-supsub,
    + :where(.nya-cursor) + .nya-cmd-supsub
  ) {
  padding-right: 0px;
}

.nya-cmd-word-r:not(.nya-cmd-word-infix) + .nya-cmd-supsub,
.nya-cmd-word-r:not(.nya-cmd-word-infix)
  + :where(.nya-cursor)
  + .nya-cmd-supsub,
.nya-cmd-word-r:not(.nya-cmd-word-infix)
  + .nya-cmd-dot
  + .nya-cmd-var
  + .nya-cmd-supsub,
.nya-cmd-word-r:not(.nya-cmd-word-infix)
  + :where(.nya-cursor)
  + .nya-cmd-dot
  + .nya-cmd-var
  + .nya-cmd-supsub,
.nya-cmd-word-r:not(.nya-cmd-word-infix)
  + .nya-cmd-dot
  + :where(.nya-cursor)
  + .nya-cmd-var
  + .nya-cmd-supsub,
.nya-cmd-word-r:not(.nya-cmd-word-infix)
  + .nya-cmd-dot
  + .nya-cmd-var
  + :where(.nya-cursor)
  + .nya-cmd-supsub {
  padding-right: .2em;
  &:last-child,
  &:has(+ :where(.nya-cursor):last-child),
  &:has(+ .nya-cmd-brack),
  &:has(+ :where(.nya-cursor) + .nya-cmd-brack) {
    padding-right: 0px;
  }
}

.nya-cmd-dot-l {
  padding-left: .14em;
}

.nya-cmd-dot-r {
  padding-right: .14em;
}

.nya-cmd-dot-r:has(+ .nya-cmd-comma, + :where(.nya-cursor) + .nya-cmd-comma) {
  padding-right: 0px;
}

.nya-cmd-word-r:has(+ .nya-cmd-dot-l, + :where(.nya-cursor) + .nya-cmd-dot-l) {
  padding-right: 0px;
}

.nya-cmd-word-r:has(
    + .nya-cmd-dot:last-child,
    + .nya-cmd-dot + :where(.nya-cursor):last-child,
    + :where(.nya-cursor) + .nya-cmd-dot:last-child
  ) {
  padding-right: 0px;
}

.nya-cmd-dot-r + .nya-cmd-word-l,
.nya-cmd-dot-r + :where(.nya-cursor) + .nya-cmd-word-l {
  padding-left: 0px;
}

.nya-cmd-dot-prop + .nya-cmd-word-l,
.nya-cmd-dot-prop + :where(.nya-cursor) + .nya-cmd-word-l {
  padding-left: 0px;
}

.nya-cmd-word-r:has(
    + .nya-cmd-dot-prop,
    + :where(.nya-cursor) + .nya-cmd-dot-prop,
    + .nya-cmd-op:not(.nya-cmd-pm),
    + :where(.nya-cursor) + .nya-cmd-op:not(.nya-cmd-pm)
  ) {
  padding-right: 0px;
}

.nya-cmd-pm:first-child > *,
:where(.nya-cursor):first-child + .nya-cmd-pm > * {
  padding-right: 0px;
}

.nya-cmd-op:not(.nya-cmd-pm) + .nya-cmd-op:not(.nya-cmd-pm) > *,
.nya-cmd-op:not(.nya-cmd-pm)
  + :where(.nya-cursor)
  + .nya-cmd-op:not(.nya-cmd-pm)
  > * {
  padding-left: .1em;
}

.nya-cmd-op:not(.nya-cmd-pm):has(+ .nya-cmd-op:not(.nya-cmd-pm)) > *,
.nya-cmd-op:not(.nya-cmd-pm):has(
    + :where(.nya-cursor) + .nya-cmd-op:not(.nya-cmd-pm)
  )
  > * {
  padding-right: .1em;
}

.nya-prefix {
  opacity: 0.5;
}

.nya-cmd-not > * {
  padding-right: 0px;
}

.nya-cmd-dot + .nya-cmd-word-infix,
.nya-cmd-dot + :where(.nya-cursor) + .nya-cmd-word-infix {
  padding-left: .2em;
}

.nya-cmd-comma + .nya-cmd-comma,
.nya-cmd-comma + .nya-cursor + .nya-cmd-comma {
  padding-left: 1ch;
}

.nya-range-bound {
  border-color: var(--nya-border);
}

:where(
    .nya-expr:not(:focus-within),
    .nya-expr:has(.nya-range-scrubber:focus-within)
  )
  :where(.nya-range:not(.nya-range-error)) {
  & {
    margin-top: -0.75rem;
  }
  & {
    align-items: center;
  }
  & {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  & {
    font-size: 0.6rem;
  }
  & {
    color: var(--nya-range-bounds);
  }
  :where(&) {
    display: flex;
  }
  .nya-range-bound {
    padding-bottom: 0.5rem;
  }
  .nya-range-bound {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .nya-range-bounds {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .nya-range-bounds {
    display: block;
  }
}

:where(
    .nya-expr:focus-within:not(:has(.nya-range-scrubber:focus-within))
      .nya-range,
    .nya-range-error
  ) {
  & {
    margin-top: -0.5rem;
  }
  & {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  & {
    padding-bottom: 0.5rem;
  }
  & {
    font-size: 1.265em;
  }
  & {
    line-height: 1;
  }
  .nya-range-bound {
    min-height: calc(1.5rem + 1px);
  }
  .nya-range-bound {
    min-width: 3rem;
  }
  .nya-range-bound {
    max-width: 6rem;
  }
  .nya-range-bound {
    overflow-x: auto;
  }
  .nya-range-bound {
    border-bottom-width: 1px;
  }
  .nya-range-bound {
    padding: 0.25rem;
  }
  .nya-range-bound {
    padding-right: 0.5rem;
  }
  .nya-range-bound {
    vertical-align: middle;
  }
  .nya-range-bound {
    font-size: 1rem;
  }
  .nya-range-bound:focus {
    margin-bottom: -1px;
  }
  .nya-range-bound:focus {
    border-bottom-width: 2px;
  }
  .nya-range-bound:focus {
    border-bottom-color: var(--nya-expr-focus);
  }
  .nya-range-bound:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .nya-range-bound::-webkit-scrollbar {
    display: none;
  }
  .nya-range-scrubber {
    display: none;
  }
}

.nya-selected>.\[\.nya-selected\>\&\]\:nya-selected {
  background-color: var(--nya-selection);
}

.\*\:\*\:relative > * > * {
  position: relative;
}

.\*\:grid > * {
  display: grid;
}

.\*\:contents > * {
  display: contents;
}

.\*\:grid-cols-\[repeat\(auto-fill\2c minmax\(400px\2c 1fr\)\)\] > * {
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
}

.before\:px-\[0\.2em\]::before {
  content: var(--tw-content);
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.before\:content-\[\'if\'\]::before {
  --tw-content: 'if';
  content: var(--tw-content);
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:bottom-\[-2px\]::after {
  content: var(--tw-content);
  bottom: -2px;
}

.after\:right-\[-1px\]::after {
  content: var(--tw-content);
  right: -1px;
}

.after\:top-\[-4px\]::after {
  content: var(--tw-content);
  top: -4px;
}

.after\:hidden::after {
  content: var(--tw-content);
  display: none;
}

.after\:w-\[6px\]::after {
  content: var(--tw-content);
  width: 6px;
}

.after\:bg-current::after {
  content: var(--tw-content);
  background-color: currentColor;
}

.after\:font-\[\'Times_New_Roman\'\]::after {
  content: var(--tw-content);
  font-family: 'Times New Roman';
}

.after\:italic::after {
  content: var(--tw-content);
  font-style: italic;
}

.after\:text-transparent::after {
  content: var(--tw-content);
  color: transparent;
}

.after\:content-\[\'_\'\]::after {
  --tw-content: ' ';
  content: var(--tw-content);
}

.after\:content-\[\'c\'\]::after {
  --tw-content: 'c';
  content: var(--tw-content);
}

.after\:\[clip-path\:polygon\(0\%_0\%\2c 100\%_50\%\2c 0\%_100\%\)\]::after {
  content: var(--tw-content);
  clip-path: polygon(0% 0%,100% 50%,0% 100%);
}

.after\:\[line-height\:\.9\]::after {
  content: var(--tw-content);
  line-height: .9;
}

.first\:\*\:\*\:\[grid-column\:1_\/_-1\] > * > *:first-child {
  grid-column: 1 / -1;
}

.hover\:bg-\[--nya-sidebar-hover\]:hover {
  background-color: var(--nya-sidebar-hover);
}

.hover\:text-\[--nya-title-dark\]:hover {
  color: var(--nya-title-dark);
}

.focus\:\!border-b-\[--nya-range-error\]:focus {
  border-bottom-color: var(--nya-range-error) !important;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group:focus-within .group-focus-within\:border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity, 1));
}

.group:focus-within .group-focus-within\:outline {
  outline-style: solid;
}

.group\/nya-slider:focus-within .group-focus-within\/nya-slider\:ring-2 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.group\/nya-scroller:hover .group-hover\/nya-scroller\:size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  .dark\:text-\[\#888\] {
    --tw-text-opacity: 1;
    color: rgb(136 136 136 / var(--tw-text-opacity, 1));
  }

  .dark\:opacity-50 {
    opacity: 0.5;
  }
}

.last\:\[\&\.nya-has-empty\]\:before\:pr-0.nya-has-empty:last-child::before {
  content: var(--tw-content);
  padding-right: 0px;
}

.last\:\[\&\.nya-has-empty\]\:before\:opacity-30.nya-has-empty:last-child::before {
  content: var(--tw-content);
  opacity: 0.3;
}

.last\:\[\&\.nya-has-empty\]\:before\:content-\[\'else\'\].nya-has-empty:last-child::before {
  --tw-content: 'else';
  content: var(--tw-content);
}

.\[\&\:\:-webkit-scrollbar\]\:hidden::-webkit-scrollbar {
  display: none;
}

.\[\&\:last-child\.nya-has-empty\>\*\]\:hidden:last-child.nya-has-empty>* {
  display: none;
}

.nya-cmd-word>:where(.\[\.nya-cmd-word\>\:where\(\&\)\]\:mx-0) {
  margin-left: 0px;
  margin-right: 0px;
}

.nya-display:has(.nya-cmd-prompt) .\[\.nya-display\:has\(\.nya-cmd-prompt\)_\&\]\:hidden {
  display: none;
}

.nya-display:not(:focus) .\[\.nya-display\:not\(\:focus\)_\&\]\:hidden {
  display: none;
}

.nya-expr-error .\[\.nya-expr-error_\&\]\:block {
  display: block;
}

.nya-range-error .\[\.nya-range-error_\&\]\:border-b-2 {
  border-bottom-width: 2px;
}

.nya-scrolleractive .\[\.nya-scrolleractive_\&\]\:size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

:active>.\[\:active\>\&\]\:block {
  display: block;
}

:active>.\[\:active\>\&\]\:border-\[--nya-expr-focus\] {
  border-color: var(--nya-expr-focus);
}

:active>.\[\:active\>\&\]\:bg-\[--nya-expr-focus\] {
  background-color: var(--nya-expr-focus);
}

:active>.\[\:active\>\&\]\:text-\[--nya-expr-focus-index\] {
  color: var(--nya-expr-focus-index);
}

:first-child>.\[\:first-child\>\&\]\:top-0 {
  top: 0px;
}

:focus-within>.\[\:focus-within\>\&\]\:block {
  display: block;
}

:focus-within>.\[\:focus-within\>\&\]\:border-\[--nya-expr-focus\] {
  border-color: var(--nya-expr-focus);
}

:focus-within>.\[\:focus-within\>\&\]\:bg-\[--nya-expr-focus\] {
  background-color: var(--nya-expr-focus);
}

:focus-within>.\[\:focus-within\>\&\]\:text-\[--nya-expr-focus-index\] {
  color: var(--nya-expr-focus-index);
}
